.album {
	padding: 8rem 12rem;
	background-color: #eee;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 3rem;
	}
	&__cont {
		flex-basis: 15%;
		text-align: center;
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 5px;
	}
	&__imgCont {
		width: 100%;
		height: 90%;
	}
	&__title {
		margin: .5rem;
		color: #757575;

	}
	span {
		color:#ccc;	
	}
}