body {
	font-family: "Open Sans", sans-serif;
}
li,a,p,td,th,button {
	font-size: 1.4rem;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
h1 { font-size: 2.4rem;}
h2 { font-size: 2.2rem;}
h3 { font-size: 1.8rem;}
h4 { font-size: 1.6rem;}
h5 { font-size: 1.2rem;}
h6 { font-size: 1rem;}

	.light-gray {
		color: #ccc !important;
	}